In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import seaborn as sns
%matplotlib inline

In [2]:
os.getcwd()

'/home/aimlTester/anaconda3-bak/bin/Sunil_py'

In [3]:
path = '../../dumpfiles/update_naidu/'

In [4]:
df = pd.read_csv(path + 'PL_110_SEPT_2018.csv')

/home/aimlTester/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9,10,12,14,27,36,66,91,92,93,100,108,114,129,146) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,CONTRACT_TYPE_CODE,CONTRACT_SUB_TYPE_ID,FRS_BU,DATA_SET_ID,ACCOUNT_TYPE,ACQ_IN_CAL_YR,ACQ_YEAR,ACTG_UNIT_ID,AR_X_IP_ROLE_TYP_CD,ARRG_ACQ_TYP_CD,...,SHR_AMT,SME_BU_PL,SOLD_RECOURSE_PL,SOP_3_FLAG,SUM_OF_NAT_SIGN_USD_AMOUNT,TDR_POST_JAN2008_IND,TRBLD_DEBT_RSTRU_FLAG,WHS_ORIG_FLAG,WRTY_RSRV_PL,SUM(BASE_CCY_AMT)
0,LOANS,9,10501,110,A,N,NaN,1,NaN,ORGN,...,NaN,NaN,NaN,N,NaN,NaN,N,N,NaN,1639.44818
1,LOANS,9,10501,110,A,N,NaN,1,NaN,ORGN,...,NaN,NaN,NaN,N,NaN,NaN,N,N,NaN,10451.66618
2,LOANS,9,10501,110,A,N,NaN,1,NaN,ORGN,...,NaN,NaN,NaN,N,NaN,NaN,N,N,NaN,405.32350
3,LOANS,9,10501,110,A,N,NaN,1,NaN,ORGN,...,NaN,NaN,NaN,N,NaN,NaN,N,N,NaN,2217.13554
4,LOANS,9,10501,110,A,N,NaN,1,NaN,ORGN,...,NaN,NaN,NaN,N,NaN,NaN,N,N,NaN,15.58548

In [6]:
df.isnull().sum()

CONTRACT_TYPE_CODE                     0
CONTRACT_SUB_TYPE_ID                   0
FRS_BU                                 0
DATA_SET_ID                            0
ACCOUNT_TYPE                           0
ACQ_IN_CAL_YR                      10137
ACQ_YEAR                         2283081
ACTG_UNIT_ID                           0
AR_X_IP_ROLE_TYP_CD              2283081
ARRG_ACQ_TYP_CD                   367174
ARRG_BUS_INTENT_DT                934102
ARRG_BUS_INTENT_TYP_CD                 0
ARRG_FIN_STA_TYP_CD                 3468
ARRG_MAT_TYP_CD                      679
ARRG_PURP_TYP_CD                       0
ARRG_TYP_CD                            0
ARXIPRT_FICO_EQV_RTNG_CD_ORIG          0
ARXIPRT_FICO_EQV_RTNG_CD_REF           0
ARXRT_FLR_RATE                   2283081
BACKED_BY_3RD_PARTY              2283081
BAND_ARRG_ACQ_DT                 2283081
BAND_ARRG_FIN_STA_DT                   0
BAND_EST_END_DT                        0
BAND_LN_ARRG_PDUE_DAY_CNT          64071
BAND_LN_MDFY_DT                        0
BAND_LN_ORIG_AMT                   65371
BAND_REMN_MAT_MTHS                 22270
BAND_RMN_MTHS_NXT_INT_RSET       1260050
BASE_CCY_AMT                           0
BASE_CCY_QTD_AMT                  960769
                                  ...
OBL_RTNG_CD                      2283081
OBL_RTNG_DESC                    2283081
ORIG_INVR_INS_CAT_CD               31275
PLDG_IND                             679
PTCP_TYP_CD                      2283081
REAL_ESTATE_INDUSTRY_CD          2283081
REG_O_EMP_FLAG                    949694
REITS_FLAG                       2283081
REMN_DAYS_TO_MAT                   22421
RESALE_IND_PL                    2283081
REV_MTG_FLG_PL                   2283081
RFIN_FLAG                              0
RISK_MGT_TYP_CD                     1750
ROLL_FORWARD_ACTIVITY_TYPE_PL    2283081
RVSE_MTG_IND                     2283081
SEC_BY_RE_FLAG                         0
SEC_NAICS_INDUSTRY_CD            2283081
SERV_FOR_OTH_FL_PL               2283081
SERV_PRTF_PL                     2283081
SETTLEMENT_RISK_AMT              2283081
SHR_AMT                          2283081
SME_BU_PL                        2283081
SOLD_RECOURSE_PL                 2283081
SOP_3_FLAG                       1675004
SUM_OF_NAT_SIGN_USD_AMOUNT       2283081
TDR_POST_JAN2008_IND             2283081
TRBLD_DEBT_RSTRU_FLAG                  7
WHS_ORIG_FLAG                          0
WRTY_RSRV_PL                     2283081
SUM(BASE_CCY_AMT)                      0
Length: 153, dtype: int64

In [7]:
df.shape

(2283081, 153)

In [8]:
list_null_col = []
for col in list(df.columns):
    if df[col].isnull().sum() == len(df):
        list_null_col.append(col)

In [9]:
list_null_col

['ACQ_YEAR',
 'AR_X_IP_ROLE_TYP_CD',
 'ARXRT_FLR_RATE',
 'BACKED_BY_3RD_PARTY',
 'BAND_ARRG_ACQ_DT',
 'BASEL2_REGULATORY_SEGMNT',
 'BORR_RTG_FLG_PL',
 'BUS_COMBINATION_PL',
 'CASA_OD_SINCE_DT',
 'CFL_CR_LINE_UTLN_RAT',
 'CFL_TRBLD_DEBT_RSTRUFLAG',
 'CLEARING_RISK_AMT',
 'CLTRL_FLAG',
 'CR_FCL_TYP_CD',
 'CR_FCL_TYP_DESC',
 'CU_GF_INC_CTRY',
 'CU_GF_INVLV_PTY_NAICS_CD',
 'CURR_COMBN_LN_TO_VAL_PCT',
 'CURR_LN_TO_VAL_PCT',
 'DAYS_IN_TDR_PL',
 'DC_CR_ACCT_TYP',
 'DC_CR_CRGID',
 'DC_CR_DMCL_CTRY_CD',
 'DC_CR_INC_CTRY',
 'DC_CR_INVLV_PTY_NAICS_CD',
 'DC_CR_SUB_TYP_CD',
 'DELIV_DT_PL',
 'DPST_PROD_CAT_TYP_CD',
 'EFFECTIVE_CCF',
 'ELIG_FOR_OD_FLAG',
 'FAC_RTNG_CD',
 'FAC_RTNG_DESC',
 'FCL_APPR_AMT',
 'FED_NAICS_INDUSTRY_CD',
 'FRS_AFFL_LGL_CD',
 'GOVT_GTY_PL',
 'GU_GF_DMCL_CTRY_CD',
 'GU_GF_INC_CTRY',
 'GU_GF_INVLV_PTY_NAICS_CD',
 'GU_GF_SUB_TYP_CD',
 'HEDGE_IND_PL',
 'INT_RSET_INT_CD',
 'INT_RSET_INT_DESC',
 'INVST_GRD_IND',
 'LIBOR_CONFIRM_ROLLOVER_PL',
 'LN_DSPN_TYP_CD',
 'LN_FLR_RATE',
 'LN_INT_ACCR_STA_DT',
 'LN_RATE_ID',
 'LN_RATE_VARIABLT_TYP_SEC_RPT',
 'LN_RES_TYP_CD',
 'LTSC_GSE_PL',
 'LTV_RATIO_PL',
 'MARGN_LNS_ELG_PL',
 'MTG_INVR_TYP_CD',
 'NET_UNPAID_PRINCIPAL',
 'NON_ACCR_CTRS_SLD_IN_QTR',
 'NON_ACCR_STA_IN_QTR',
 'NON_PURP_LNS_PL',
 'NON_TRAD_MTG_PL',
 'OBL_RTNG_CD',
 'OBL_RTNG_DESC',
 'PTCP_TYP_CD',
 'REAL_ESTATE_INDUSTRY_CD',
 'REITS_FLAG',
 'RESALE_IND_PL',
 'REV_MTG_FLG_PL',
 'ROLL_FORWARD_ACTIVITY_TYPE_PL',
 'RVSE_MTG_IND',
 'SEC_NAICS_INDUSTRY_CD',
 'SERV_FOR_OTH_FL_PL',
 'SERV_PRTF_PL',
 'SETTLEMENT_RISK_AMT',
 'SHR_AMT',
 'SME_BU_PL',
 'SOLD_RECOURSE_PL',
 'SUM_OF_NAT_SIGN_USD_AMOUNT',
 'TDR_POST_JAN2008_IND',
 'WRTY_RSRV_PL']

In [10]:
len(list_null_col)

79

In [11]:
pct_null = df.isnull().sum()/len(df)

In [12]:
null_features = pct_null[pct_null > .80].index

In [13]:
# full_features = pct_null[pct_null == 0].index
# all_c = list(df.columns)
# full_features = list(full_features)
# null = (set(all_c) - set(full_features))
# df.drop(null,axis = 1,inplace = True)

In [14]:
null_features.shape

(80,)

In [15]:
df.drop(null_features,axis = 1,inplace = True)

In [16]:
df.shape

(2283081, 73)

In [17]:
df.dtypes

CONTRACT_TYPE_CODE                object
CONTRACT_SUB_TYPE_ID               int64
FRS_BU                             int64
DATA_SET_ID                        int64
ACCOUNT_TYPE                      object
ACQ_IN_CAL_YR                     object
ACTG_UNIT_ID                       int64
ARRG_ACQ_TYP_CD                   object
ARRG_BUS_INTENT_DT                object
ARRG_BUS_INTENT_TYP_CD            object
ARRG_FIN_STA_TYP_CD               object
ARRG_MAT_TYP_CD                   object
ARRG_PURP_TYP_CD                  object
ARRG_TYP_CD                       object
ARXIPRT_FICO_EQV_RTNG_CD_ORIG     object
ARXIPRT_FICO_EQV_RTNG_CD_REF      object
BAND_ARRG_FIN_STA_DT              object
BAND_EST_END_DT                   object
BAND_LN_ARRG_PDUE_DAY_CNT         object
BAND_LN_MDFY_DT                   object
BAND_LN_ORIG_AMT                  object
BAND_REMN_MAT_MTHS                object
BAND_RMN_MTHS_NXT_INT_RSET        object
BASE_CCY_AMT                     float64
BASE_CCY_QTD_AMT                 float64
CITI_RCRS_IND                     object
CU_GF_DMCL_CTRY_CD                object
CU_GF_SUB_TYP_CD                  object
DAYS_ARRG_BUS_INTENT             float64
DAYS_ARRG_FIN_STA                float64
                                  ...
FRS_BU_1                           int64
FRS_BU_LGL_CD                      int64
LIEN_POSN_TYP_CD                  object
LN_ARRG_FIN_STA_DT                object
LN_ARRG_SCR_TYP_CD                object
LN_FAIR_VAL_OPT_IND               object
LN_FIN_SV_LIMIT_TYP_CD            object
LN_INT_ACCR_STAT_TYP_CD           object
LN_LIEN_POS_TP_ID                 object
LN_NEG_AMORT_FLAG                 object
LN_RATE_RSET_PERD_INT_ID           int64
LN_RATE_VARIABLT_TYP_CD           object
LN_TAX_EXMP_IND                   object
LOSS_MITG_STRT_DT                 object
LV_DMC_CTRY                       object
MATURITY_DAYS                    float64
MDFY_TYP_CD                       object
MGT_BU_PL                         object
NON_PROFIT_FLAG                   object
ORIG_INVR_INS_CAT_CD              object
PLDG_IND                          object
REG_O_EMP_FLAG                    object
REMN_DAYS_TO_MAT                 float64
RFIN_FLAG                         object
RISK_MGT_TYP_CD                   object
SEC_BY_RE_FLAG                    object
SOP_3_FLAG                        object
TRBLD_DEBT_RSTRU_FLAG             object
WHS_ORIG_FLAG                     object
SUM(BASE_CCY_AMT)                float64
Length: 73, dtype: object

In [18]:
data_float = []
data_obj = []
data_int = []
for col in list(df.columns):
    if df[col].dtypes == 'float64':
        data_float.append(col)
    if df[col].dtypes == 'object':
        data_obj.append(col)
    if df[col].dtypes == 'int64':
        data_int.append(col)

# fill missing value

In [19]:
#float datatype column missing value fill by mode
mode = df.filter(data_float).mode()
cols = data_float
df[cols]=df[cols].fillna(df.mode().iloc[0])

In [20]:
#object datatype column missing value fill by mode
mode = df.filter(data_obj).mode()
cols = data_obj
df[cols]=df[cols].fillna(df.mode().iloc[0])

In [21]:
#integer datatype column missing value fill by zero
cols = data_int
df[cols]=df[cols].fillna(0)

In [22]:
df.fillna(0,inplace = True)

# Spliting data Frame into (float+int) and object datatype

In [ ]:
# df_float_int = pd.DataFrame()
# for col in list(df.columns):
#     if df[col].dtypes == 'float64' or df[col].dtypes == 'int64':
#         df_float_int = pd.concat([df_float_int,df[col]],axis = 1)

In [ ]:
# df_obj = pd.DataFrame()
# for col in list(df.columns):
#     if df[col].dtypes == 'object':
#         df_obj = pd.concat([df_obj,df[col]],axis = 1)

In [ ]:
# df_float_int.head()

# get_dummies(one hot encoding)

In [23]:
df.shape

(2283081, 73)

In [24]:
ignore_col = ['CONTRACT_SUB_TYPE_ID','DATA_SET_ID','LOSS_MITG_STRT_DT','LN_ARRG_FIN_STA_DT','ARRG_BUS_INTENT_DT','FRS_BU_1']
df.drop(ignore_col, axis=1, inplace=True)
df.shape

(2283081, 67)

In [25]:
df['FRS_BU']=df['FRS_BU'].astype('object')
df['FRS_AFFL_CD']=df['FRS_AFFL_CD'].astype('object')
df['FRS_BU_LGL_CD']=df['FRS_BU_LGL_CD'].astype('object')
df['LN_RATE_RSET_PERD_INT_ID']=df['LN_RATE_RSET_PERD_INT_ID'].astype('object')
df['ENTRPS_PROD_CD']=df['ENTRPS_PROD_CD'].astype('object')
df['ACTG_UNIT_ID']=df['ACTG_UNIT_ID'].astype('object')

In [26]:
categorical_Attributes = df.select_dtypes(include=['object']).columns
categorical_Attributes

Index(['CONTRACT_TYPE_CODE', 'FRS_BU', 'ACCOUNT_TYPE', 'ACQ_IN_CAL_YR',
       'ACTG_UNIT_ID', 'ARRG_ACQ_TYP_CD', 'ARRG_BUS_INTENT_TYP_CD',
       'ARRG_FIN_STA_TYP_CD', 'ARRG_MAT_TYP_CD', 'ARRG_PURP_TYP_CD',
       'ARRG_TYP_CD', 'ARXIPRT_FICO_EQV_RTNG_CD_ORIG',
       'ARXIPRT_FICO_EQV_RTNG_CD_REF', 'BAND_ARRG_FIN_STA_DT',
       'BAND_EST_END_DT', 'BAND_LN_ARRG_PDUE_DAY_CNT', 'BAND_LN_MDFY_DT',
       'BAND_LN_ORIG_AMT', 'BAND_REMN_MAT_MTHS', 'BAND_RMN_MTHS_NXT_INT_RSET',
       'CITI_RCRS_IND', 'CU_GF_DMCL_CTRY_CD', 'CU_GF_SUB_TYP_CD',
       'ENTRPS_PROD_CD', 'FAIR_VAL_LVL', 'FAS114_FLAG', 'FAS114_SP_ALL_FLAG',
       'FAS5_FLAG', 'FDL_PMF_ACCT', 'FICO_EQV_RTNG_CD', 'FIN_SERV_TYP_CD',
       'FRS_ACCOUNT_CLASS', 'FRS_AFFL_CD', 'FRS_AFFL_ICE', 'FRS_BU_LGL_CD',
       'LIEN_POSN_TYP_CD', 'LN_ARRG_SCR_TYP_CD', 'LN_FAIR_VAL_OPT_IND',
       'LN_FIN_SV_LIMIT_TYP_CD', 'LN_INT_ACCR_STAT_TYP_CD',
       'LN_LIEN_POS_TP_ID', 'LN_NEG_AMORT_FLAG', 'LN_RATE_RSET_PERD_INT_ID',
       'LN_RATE_VARIABLT_TYP_CD', 'LN_TAX_EXMP_IND', 'LV_DMC_CTRY',
       'MDFY_TYP_CD', 'MGT_BU_PL', 'NON_PROFIT_FLAG', 'ORIG_INVR_INS_CAT_CD',
       'PLDG_IND', 'REG_O_EMP_FLAG', 'RFIN_FLAG', 'RISK_MGT_TYP_CD',
       'SEC_BY_RE_FLAG', 'SOP_3_FLAG', 'TRBLD_DEBT_RSTRU_FLAG',
       'WHS_ORIG_FLAG'],
      dtype='object')

In [28]:
df1 = df.copy()

In [30]:
for col in list(categorical_Attributes):
    df1[col] = df1[col].astype(str)

In [31]:
all_col = list(df.columns)
categorical_Attributes = list(categorical_Attributes)
numerical_Attributes = list(set(all_col) - set(categorical_Attributes))

In [32]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler 
scaler = preprocessing.MinMaxScaler().fit(df1[numerical_Attributes]) 
df1[numerical_Attributes] = scaler.transform(df1[numerical_Attributes])

In [33]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
label_encoders = {}
df_processed = pd.DataFrame()
for col in categorical_Attributes:
    print("Encoding {}".format(col))
    new_le = LabelEncoder()
    df_processed[col] = new_le.fit_transform(df[col])
    label_encoders[col] = new_le

Encoding CONTRACT_TYPE_CODE
Encoding FRS_BU
Encoding ACCOUNT_TYPE
Encoding ACQ_IN_CAL_YR
Encoding ACTG_UNIT_ID
Encoding ARRG_ACQ_TYP_CD
Encoding ARRG_BUS_INTENT_TYP_CD
Encoding ARRG_FIN_STA_TYP_CD

TypeError: '<' not supported between instances of 'int' and 'str'

In [39]:
df1.head()

,CONTRACT_TYPE_CODE,FRS_BU,ACCOUNT_TYPE,ACQ_IN_CAL_YR,ACTG_UNIT_ID,ARRG_ACQ_TYP_CD,ARRG_BUS_INTENT_TYP_CD,ARRG_FIN_STA_TYP_CD,ARRG_MAT_TYP_CD,ARRG_PURP_TYP_CD,...,PLDG_IND,REG_O_EMP_FLAG,REMN_DAYS_TO_MAT,RFIN_FLAG,RISK_MGT_TYP_CD,SEC_BY_RE_FLAG,SOP_3_FLAG,TRBLD_DEBT_RSTRU_FLAG,WHS_ORIG_FLAG,SUM(BASE_CCY_AMT)
0,LOANS,10501,A,N,1,ORGN,HFI,Current,FIXED,1.,...,N,N,0.003987,R,D,N,N,N,N,0.498663
1,LOANS,10501,A,N,1,ORGN,HFI,PDDLQNT,FIXED,1.,...,N,N,0.003987,R,D,N,N,N,N,0.498665
2,LOANS,10501,A,N,1,ORGN,HFI,Current,FIXED,1.,...,N,N,0.003987,R,D,N,N,N,N,0.498662
3,LOANS,10501,A,N,1,ORGN,HFI,Current,FIXED,1.,...,N,N,0.003987,R,D,N,N,N,N,0.498663
4,LOANS,10501,A,N,1,ORGN,HFI,Current,FIXED,1.,...,N,N,0.003987,R,D,N,N,N,N,0.498662

In [ ]:
cat_columns_idx = [df_processed.columns.get_loc(col) 
                   for col in categorical_Attributes]

In [ ]:
ohe = OneHotEncoder(categorical_features=cat_columns_idx, 
                    sparse=False, handle_unknown="ignore")
df_processed_np = ohe.fit_transform(df_processed)

In [34]:
data_dummies_X = pd.get_dummies(columns=categorical_Attributes, data=df1, prefix=categorical_Attributes, prefix_sep="_",drop_first=False)

In [41]:
data_dummies_X.shape

(2283081, 384)

In [35]:
df1['ARRG_FIN_STA_TYP_CD'].unique()

array(['Current', 'PDDLQNT', 'CHGOFF', '3', 'PAIDOFF', 'PDODLNQ',
       'CLOSED', '~U', 'POWCHGO', 'COLLN', '1', 'FCLOSCMP', 'FCLOS', '4',
       '9', 'PDNFIP', '8', '11'], dtype=object)

In [ ]:
#dummies_col = pd.DataFrame(data_dummies_X.columns)

In [ ]:
#data_dummies_X.columns

In [46]:
#dummies_col[0].value_counts()

In [45]:
#data_dummies_X['ARRG_FIN_STA_TYP_CD_3']

In [37]:
#data_dummies_X['ARRG_FIN_STA_TYP_CD_3'].sum()

881701

In [ ]:
dummy_col = ['BASE_CCY_AMT','BASE_CCY_QTD_AMT','DAYS_ARRG_BUS_INTENT','DAYS_ARRG_FIN_STA','DAYS_IN_TDR_STA','DAYS_INT_ACCR_STA','MATURITY_DAYS','REMN_DAYS_TO_MAT','SUM(BASE_CCY_AMT)','CONTRACT_TYPE_CODE_LOANS','FRS_BU_10064','FRS_BU_10172','FRS_BU_10378','FRS_BU_10379','FRS_BU_10472','FRS_BU_10496','FRS_BU_10501','FRS_BU_10508','FRS_BU_10598','FRS_BU_11225','FRS_BU_11227','FRS_BU_11230','FRS_BU_11231','FRS_BU_11233','FRS_BU_11273','FRS_BU_11425','FRS_BU_11426','FRS_BU_11428','FRS_BU_11517','FRS_BU_12052','FRS_BU_12595','FRS_BU_12725','FRS_BU_12748','FRS_BU_12749','FRS_BU_12846','FRS_BU_13048','FRS_BU_13457','FRS_BU_14058','FRS_BU_14106','FRS_BU_14177','FRS_BU_16321','FRS_BU_17118','FRS_BU_18825','ACCOUNT_TYPE_A','ACCOUNT_TYPE_L','ACQ_IN_CAL_YR_N','ACTG_UNIT_ID_1','ACTG_UNIT_ID_9','ACTG_UNIT_ID_12','ARRG_ACQ_TYP_CD_1','ARRG_ACQ_TYP_CD_NTB','ARRG_ACQ_TYP_CD_ORGN','ARRG_ACQ_TYP_CD_PURC','ARRG_ACQ_TYP_CD_~U','ARRG_BUS_INTENT_TYP_CD_HFI','ARRG_FIN_STA_TYP_CD_3','ARRG_FIN_STA_TYP_CD_4','ARRG_FIN_STA_TYP_CD_1','ARRG_FIN_STA_TYP_CD_11','ARRG_FIN_STA_TYP_CD_3','ARRG_FIN_STA_TYP_CD_4','ARRG_FIN_STA_TYP_CD_8','ARRG_FIN_STA_TYP_CD_9','ARRG_FIN_STA_TYP_CD_CHGOFF','ARRG_FIN_STA_TYP_CD_CLOSED','ARRG_FIN_STA_TYP_CD_COLLN','ARRG_FIN_STA_TYP_CD_Current','ARRG_FIN_STA_TYP_CD_FCLOS','ARRG_FIN_STA_TYP_CD_FCLOSCMP','ARRG_FIN_STA_TYP_CD_PAIDOFF','ARRG_FIN_STA_TYP_CD_PDDLQNT','ARRG_FIN_STA_TYP_CD_PDNFIP','ARRG_FIN_STA_TYP_CD_PDODLNQ','ARRG_FIN_STA_TYP_CD_POWCHGO','ARRG_FIN_STA_TYP_CD_~U','ARRG_MAT_TYP_CD_1','ARRG_MAT_TYP_CD_CALL','ARRG_MAT_TYP_CD_EVRGRN','ARRG_MAT_TYP_CD_FIXED','ARRG_PURP_TYP_CD_1.0','ARRG_PURP_TYP_CD_99.0','ARRG_PURP_TYP_CD_100.0','ARRG_PURP_TYP_CD_0','ARRG_PURP_TYP_CD_0.','ARRG_PURP_TYP_CD_1-4_FMMRTG','ARRG_PURP_TYP_CD_1.','ARRG_PURP_TYP_CD_100','ARRG_PURP_TYP_CD_11','ARRG_PURP_TYP_CD_124','ARRG_PURP_TYP_CD_127','ARRG_PURP_TYP_CD_22','ARRG_PURP_TYP_CD_55','ARRG_PURP_TYP_CD_99','ARRG_PURP_TYP_CD_ACQU_FIN','ARRG_PURP_TYP_CD_CITI_TREAS','ARRG_PURP_TYP_CD_CLG_TUTN','ARRG_PURP_TYP_CD_CONS_LN','ARRG_PURP_TYP_CD_DEBT_FIN','ARRG_PURP_TYP_CD_FMLY_CELEB','ARRG_PURP_TYP_CD_GEN_PURP','ARRG_PURP_TYP_CD_HFS','ARRG_PURP_TYP_CD_HOME_RPR',
             'ARRG_PURP_TYP_CD_INFR_ENGY','ARRG_PURP_TYP_CD_NEW_PRD_DV','ARRG_PURP_TYP_CD_OTH','ARRG_PURP_TYP_CD_OTHER','ARRG_PURP_TYP_CD_PERS_INVT','ARRG_PURP_TYP_CD_PORT_ACUQ','ARRG_PURP_TYP_CD_PTY_PR_MOR','ARRG_PURP_TYP_CD_PURCARNEW1','ARRG_PURP_TYP_CD_RE_ACQ_COM','ARRG_PURP_TYP_CD_RE_ACQ_LND','ARRG_PURP_TYP_CD_UNKNOWN','ARRG_PURP_TYP_CD_~U','ARRG_TYP_CD_PLN_ARRG','ARXIPRT_FICO_EQV_RTNG_CD_ORIG_B08 Null','ARXIPRT_FICO_EQV_RTNG_CD_REF_B01 < 620','ARXIPRT_FICO_EQV_RTNG_CD_REF_B02 = 620','ARXIPRT_FICO_EQV_RTNG_CD_REF_B03 > 620 < 660','ARXIPRT_FICO_EQV_RTNG_CD_REF_B04 = 660','ARXIPRT_FICO_EQV_RTNG_CD_REF_B05 > 660 < 680','ARXIPRT_FICO_EQV_RTNG_CD_REF_B06 = 680','ARXIPRT_FICO_EQV_RTNG_CD_REF_B07 > 680 < 720','ARXIPRT_FICO_EQV_RTNG_CD_REF_B08 Null','ARXIPRT_FICO_EQV_RTNG_CD_REF_B09 <= 0','ARXIPRT_FICO_EQV_RTNG_CD_REF_B10 = 720','ARXIPRT_FICO_EQV_RTNG_CD_REF_B11 > 720 < 760','ARXIPRT_FICO_EQV_RTNG_CD_REF_B12 = 760','ARXIPRT_FICO_EQV_RTNG_CD_REF_B13 > 760',
             'BAND_ARRG_FIN_STA_DT_B01','BAND_ARRG_FIN_STA_DT_B99','BAND_EST_END_DT_B01','BAND_EST_END_DT_B02','BAND_EST_END_DT_B03','BAND_EST_END_DT_B04','BAND_EST_END_DT_B05','BAND_EST_END_DT_B06','BAND_EST_END_DT_B07','BAND_EST_END_DT_B99','BAND_LN_ARRG_PDUE_DAY_CNT_B01(0,29]','BAND_LN_ARRG_PDUE_DAY_CNT_B02[30,89]','BAND_LN_ARRG_PDUE_DAY_CNT_B03(90)','BAND_LN_MDFY_DT_B01','BAND_LN_MDFY_DT_B02','BAND_LN_MDFY_DT_B03','BAND_LN_MDFY_DT_B05','BAND_LN_MDFY_DT_B07','BAND_LN_MDFY_DT_B99','BAND_LN_ORIG_AMT_B01 <= 100000','BAND_LN_ORIG_AMT_B02 (100000,250000]','BAND_LN_ORIG_AMT_B03 (250000,500000]','BAND_LN_ORIG_AMT_B04 (500000,1000000]','BAND_LN_ORIG_AMT_B05 >1000000','BAND_REMN_MAT_MTHS_B01 (0,3]','BAND_REMN_MAT_MTHS_B02 (3,12)','BAND_REMN_MAT_MTHS_B03 [12]','BAND_REMN_MAT_MTHS_B04 (12,36]','BAND_REMN_MAT_MTHS_B05 (36,60]','BAND_REMN_MAT_MTHS_B06 (60,120]','BAND_REMN_MAT_MTHS_B07 (120,180]','BAND_REMN_MAT_MTHS_B08 (180)','BAND_RMN_MTHS_NXT_INT_RSET_B01 (0,3]','BAND_RMN_MTHS_NXT_INT_RSET_B02 (3,12)','BAND_RMN_MTHS_NXT_INT_RSET_B03 [12]','BAND_RMN_MTHS_NXT_INT_RSET_B04 (12,36]','BAND_RMN_MTHS_NXT_INT_RSET_B05 (36,60]','BAND_RMN_MTHS_NXT_INT_RSET_B06 (60,120]','BAND_RMN_MTHS_NXT_INT_RSET_B08 (180)','CITI_RCRS_IND_N','CU_GF_DMCL_CTRY_CD_AD','CU_GF_DMCL_CTRY_CD_AE','CU_GF_DMCL_CTRY_CD_AR','CU_GF_DMCL_CTRY_CD_AU','CU_GF_DMCL_CTRY_CD_BD','CU_GF_DMCL_CTRY_CD_BH','CU_GF_DMCL_CTRY_CD_BN','CU_GF_DMCL_CTRY_CD_BR','CU_GF_DMCL_CTRY_CD_BS','CU_GF_DMCL_CTRY_CD_CA','CU_GF_DMCL_CTRY_CD_CL','CU_GF_DMCL_CTRY_CD_CN','CU_GF_DMCL_CTRY_CD_CO','CU_GF_DMCL_CTRY_CD_CZ','CU_GF_DMCL_CTRY_CD_DE','CU_GF_DMCL_CTRY_CD_ES','CU_GF_DMCL_CTRY_CD_GB','CU_GF_DMCL_CTRY_CD_GH','CU_GF_DMCL_CTRY_CD_GI','CU_GF_DMCL_CTRY_CD_GM','CU_GF_DMCL_CTRY_CD_HK','CU_GF_DMCL_CTRY_CD_HKCPB','CU_GF_DMCL_CTRY_CD_ID','CU_GF_DMCL_CTRY_CD_IE','CU_GF_DMCL_CTRY_CD_IL','CU_GF_DMCL_CTRY_CD_IN','CU_GF_DMCL_CTRY_CD_JP','CU_GF_DMCL_CTRY_CD_KE','CU_GF_DMCL_CTRY_CD_KR','CU_GF_DMCL_CTRY_CD_KW','CU_GF_DMCL_CTRY_CD_MO','CU_GF_DMCL_CTRY_CD_MT','CU_GF_DMCL_CTRY_CD_MU','CU_GF_DMCL_CTRY_CD_MV',
             'CU_GF_DMCL_CTRY_CD_MX','CU_GF_DMCL_CTRY_CD_MY','CU_GF_DMCL_CTRY_CD_NG','CU_GF_DMCL_CTRY_CD_NZ','CU_GF_DMCL_CTRY_CD_OM','CU_GF_DMCL_CTRY_CD_PE','CU_GF_DMCL_CTRY_CD_PH','CU_GF_DMCL_CTRY_CD_PL','CU_GF_DMCL_CTRY_CD_QA','CU_GF_DMCL_CTRY_CD_RU','CU_GF_DMCL_CTRY_CD_SA','CU_GF_DMCL_CTRY_CD_SE','CU_GF_DMCL_CTRY_CD_SG','CU_GF_DMCL_CTRY_CD_SGCPB','CU_GF_DMCL_CTRY_CD_SP','CU_GF_DMCL_CTRY_CD_TH','CU_GF_DMCL_CTRY_CD_TR','CU_GF_DMCL_CTRY_CD_TW','CU_GF_DMCL_CTRY_CD_UA','CU_GF_DMCL_CTRY_CD_US','CU_GF_DMCL_CTRY_CD_VN','CU_GF_DMCL_CTRY_CD_ZA','CU_GF_DMCL_CTRY_CD_ZM','CU_GF_SUB_TYP_CD_CCID',
             'CU_GF_SUB_TYP_CD_INDO','CU_GF_SUB_TYP_CD_PRE_CCID','ENTRPS_PROD_CD_14.0','ENTRPS_PROD_CD_16.0','ENTRPS_PROD_CD_44.0','ENTRPS_PROD_CD_60.0','ENTRPS_PROD_CD_61.0','ENTRPS_PROD_CD_62.0','ENTRPS_PROD_CD_68.0','ENTRPS_PROD_CD_206.0','ENTRPS_PROD_CD_606.0','ENTRPS_PROD_CD_620.0','ENTRPS_PROD_CD_7.020000000000023e+17','FAIR_VAL_LVL_LVL_1','FAIR_VAL_LVL_N','FAIR_VAL_LVL_~U','FAS114_FLAG_N','FAS114_FLAG_Y','FAS114_SP_ALL_FLAG_N','FAS5_FLAG_N','FAS5_FLAG_Y','FDL_PMF_ACCT_BS07000000','FDL_PMF_ACCT_BS07010000','FDL_PMF_ACCT_BS07020000','FDL_PMF_ACCT_BS07100000','FDL_PMF_ACCT_BS07230000','FDL_PMF_ACCT_BS07270000','FDL_PMF_ACCT_BS07310000','FDL_PMF_ACCT_BS07370000','FDL_PMF_ACCT_BS07390000','FDL_PMF_ACCT_BS07580000','FDL_PMF_ACCT_BS44030000','FICO_EQV_RTNG_CD_B01 < 620','FICO_EQV_RTNG_CD_B02 = 620','FICO_EQV_RTNG_CD_B03 > 620 < 660','FICO_EQV_RTNG_CD_B04 = 660','FICO_EQV_RTNG_CD_B05 > 660 < 680','FICO_EQV_RTNG_CD_B06 = 680','FICO_EQV_RTNG_CD_B07 > 680 < 720','FICO_EQV_RTNG_CD_B08 Null','FICO_EQV_RTNG_CD_B09 <= 0','FICO_EQV_RTNG_CD_B10 = 720','FICO_EQV_RTNG_CD_B11 > 720 < 760','FICO_EQV_RTNG_CD_B12 = 760','FICO_EQV_RTNG_CD_B13 > 760','FIN_SERV_TYP_CD_1','FIN_SERV_TYP_CD_CF','FIN_SERV_TYP_CD_CORP_LN','FIN_SERV_TYP_CD_DEFAULT','FIN_SERV_TYP_CD_LEASE','FIN_SERV_TYP_CD_LOAN','FIN_SERV_TYP_CD_RECVBL_FIN','FIN_SERV_TYP_CD_UNSEC_LOC','FIN_SERV_TYP_CD_~U','FRS_ACCOUNT_CLASS_LOANS','FRS_AFFL_CD_0','FRS_AFFL_ICE_I00000','FRS_BU_LGL_CD_5','FRS_BU_LGL_CD_10','FRS_BU_LGL_CD_20','FRS_BU_LGL_CD_40','FRS_BU_LGL_CD_156','LIEN_POSN_TYP_CD_1.0','LIEN_POSN_TYP_CD_4.0','LIEN_POSN_TYP_CD_1','LIEN_POSN_TYP_CD_4','LIEN_POSN_TYP_CD_SNR_SEC','LIEN_POSN_TYP_CD_SUB_ORD_UN','LIEN_POSN_TYP_CD_UNKNOWN','LN_ARRG_SCR_TYP_CD_1.0','LN_ARRG_SCR_TYP_CD_2','LN_ARRG_SCR_TYP_CD_3.0','LN_ARRG_SCR_TYP_CD_1','LN_ARRG_SCR_TYP_CD_2','LN_ARRG_SCR_TYP_CD_3','LN_ARRG_SCR_TYP_CD_~U','LN_FAIR_VAL_OPT_IND_N','LN_FIN_SV_LIMIT_TYP_CD_N','LN_FIN_SV_LIMIT_TYP_CD_NON_RV_LMT','LN_INT_ACCR_STAT_TYP_CD_1','LN_INT_ACCR_STAT_TYP_CD_ACCR_INT','LN_INT_ACCR_STAT_TYP_CD_NON_AC_INT','LN_LIEN_POS_TP_ID_1.0','LN_LIEN_POS_TP_ID_4.0','LN_LIEN_POS_TP_ID_1','LN_LIEN_POS_TP_ID_4',
             'LN_LIEN_POS_TP_ID_SNR_SEC','LN_LIEN_POS_TP_ID_SUB_ORD_UN','LN_LIEN_POS_TP_ID_UNKNOWN','LN_NEG_AMORT_FLAG_N','LN_RATE_RSET_PERD_INT_ID_10001','LN_RATE_RSET_PERD_INT_ID_10002','LN_RATE_RSET_PERD_INT_ID_10003','LN_RATE_RSET_PERD_INT_ID_10004','LN_RATE_RSET_PERD_INT_ID_10005','LN_RATE_RSET_PERD_INT_ID_10006','LN_RATE_RSET_PERD_INT_ID_10007','LN_RATE_RSET_PERD_INT_ID_10008','LN_RATE_RSET_PERD_INT_ID_10011','LN_RATE_RSET_PERD_INT_ID_10012','LN_RATE_RSET_PERD_INT_ID_10013','LN_RATE_RSET_PERD_INT_ID_10015','LN_RATE_RSET_PERD_INT_ID_10022','LN_RATE_RSET_PERD_INT_ID_10025','LN_RATE_VARIABLT_TYP_CD_ADM_RATE','LN_RATE_VARIABLT_TYP_CD_FIX_RATE','LN_RATE_VARIABLT_TYP_CD_VAR_RATE','LN_TAX_EXMP_IND_N','LN_TAX_EXMP_IND_Y','LV_DMC_CTRY_AE','LV_DMC_CTRY_AU','LV_DMC_CTRY_BH','LV_DMC_CTRY_CN','LV_DMC_CTRY_GB','LV_DMC_CTRY_HK','LV_DMC_CTRY_ID','LV_DMC_CTRY_IN','LV_DMC_CTRY_JE','LV_DMC_CTRY_KR','LV_DMC_CTRY_MX','LV_DMC_CTRY_MY','LV_DMC_CTRY_PH','LV_DMC_CTRY_PL','LV_DMC_CTRY_RU','LV_DMC_CTRY_SG','LV_DMC_CTRY_TH','LV_DMC_CTRY_TW','LV_DMC_CTRY_US','LV_DMC_CTRY_VN','MDFY_TYP_CD_N','MDFY_TYP_CD_OTH','MDFY_TYP_CD_OTH_MOD','MDFY_TYP_CD_PRIN_FRGV','MGT_BU_PL_CONSUMER','MGT_BU_PL_CORPORATE','NON_PROFIT_FLAG_N','ORIG_INVR_INS_CAT_CD_7','ORIG_INVR_INS_CAT_CD_CPRTCTSHLD','ORIG_INVR_INS_CAT_CD_OTHER','ORIG_INVR_INS_CAT_CD_UNKNOWN','PLDG_IND_N','REG_O_EMP_FLAG_N','REG_O_EMP_FLAG_U','REG_O_EMP_FLAG_Y','RFIN_FLAG_M','RFIN_FLAG_N','RFIN_FLAG_R','RFIN_FLAG_Y','RISK_MGT_TYP_CD_1','RISK_MGT_TYP_CD_C','RISK_MGT_TYP_CD_CM','RISK_MGT_TYP_CD_D','RISK_MGT_TYP_CD_DM','SEC_BY_RE_FLAG_N','SOP_3_FLAG_N','SOP_3_FLAG_U','TRBLD_DEBT_RSTRU_FLAG_N','TRBLD_DEBT_RSTRU_FLAG_Y','WHS_ORIG_FLAG_N']

# K-means clustering

In [ ]:
from sklearn.cluster import MiniBatchKMeans
kmeans = MiniBatchKMeans(n_clusters=25,random_state=0,batch_size=150000)
kmeans = kmeans.partial_fit(data_dummies_X.iloc[0:150000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[150000:300000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[300000:450000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[450000:600000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[600000:750000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[750000:900000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[900000:1050000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1050000:1200000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1200000:1350000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1350000:1500000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1500000:1650000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1650000:1800000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1800000:1950000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[1950000:2100000,:])
kmeans = kmeans.partial_fit(data_dummies_X.iloc[2100000:2283080,:])

# Model persistence

In [ ]:
from sklearn.externals import joblib
filename = 'finalized_model.sav'

In [ ]:
joblib.dump(kmeans, filename)

In [ ]:
# some time later...
# load the model from disk
loaded_model = joblib.load(filename)

In [ ]:
y_kmeans = kmeans.predict(data_dummies_X)

In [ ]:
y_kmeans= pd.DataFrame(y_kmeans)

In [ ]:
y_kmeans.shape

In [ ]:
pd.value_counts(y_kmeans[0])

In [ ]:
kmeans.cluster_centers_.shape

In [ ]:
# # alldistances = kmeans.transform(data_dummies_X)
# alldistances_50 = kmeans.transform(data_dummies_X)

In [ ]:
y_kmeans_dist = pd.DataFrame(kmeans.transform(data_dummies_X))

In [ ]:
y_kmeans_dist.head()

In [ ]:
# df_distance_0 = df_distance[0].sort_values(ascending=False)
# df_distance_1 = df_distance[1].sort_values(ascending=False)

# max_min distance of each cluster

In [ ]:
numRows = pd.value_counts(y_kmeans[0]).max()
numCols = 25
cluster_dist1 = pd.DataFrame(index=range(numRows),columns=range(numCols))

In [ ]:
min1 = []
max1 = []
cluster = []
# cluster_dist = pd.DataFrame()
for j in range(25):
    for i in range(2283081):
        label = y_kmeans.iloc[i,0]
        if label == j:
            cluster.append(y_kmeans_dist.iloc[i,label])
#     se_cluster = pd.Series(cluster)
    cluster_dist1[j] = pd.Series(cluster)
    cluster = []

In [ ]:
cluster_dist1.to_csv('min_max_25.csv')

In [ ]:
cluster_dist1.head()

In [ ]:
cluster_dist1.describe()

# testing

In [ ]:
os.getcwd()

In [ ]:
df_test = pd.read_csv('test.csv')

In [ ]:
df_test.drop(['Unnamed: 0'],axis = 1,inplace = True)

In [ ]:
df_test.head()

In [ ]:
df_test.shape

In [ ]:
df_test.dtypes

In [ ]:
df_test.isnull().sum()

In [ ]:
df_test['CU_GF_DMCL_CTRY_CD']=df_test['CU_GF_DMCL_CTRY_CD'].fillna(df_test['CU_GF_DMCL_CTRY_CD'].mode().iloc[0])

In [ ]:
categorical_test = df_test.select_dtypes(include=['object']).columns
categorical_test = list(categorical_test)

In [ ]:
test_data_dummies_X = pd.get_dummies(columns=categorical_test, data=df_test, prefix=categorical_test, prefix_sep="_",drop_first=False)

In [ ]:
test_data_dummies_X.head()

In [ ]:
test_dummy = pd.DataFrame()
for col in list(dummies_col[0]):
    if col in list(test_data_dummies_X.columns):
        test_dummy = pd.concat([test_dummy,test_data_dummies_X[col]],axis=1)
    else:
        test_dummy[col] = 0

In [ ]:
dummies_col[0]

In [ ]:
test_dummy.head()

In [ ]:
test_dummy_1.fillna(0,inplace = True)

In [ ]:
test_dummy_1.head()

In [ ]:
y_kmeans_test = loaded_model.predict(test_dummy_1)

In [ ]:
# numRows = pd.value_counts(y_kmeans[0]).max()
# numCols = 50
# cluster_dist2 = pd.DataFrame(index=range(numRows),columns=range(numCols))

In [ ]:
# min1 = []
# max1 = []
# cluster = []
# # cluster_dist = pd.DataFrame()
# for j in range(50):
#     for i in range(2283081):
#         label = y_kmeans.iloc[i,0]
#         if label == j:
#             cluster.append(y_kmeans_dist.iloc[i,label])
# #     se_cluster = pd.Series(cluster)
#     cluster_dist2[j] = pd.Series(cluster)
#     cluster = []

In [ ]:
# cluster_dist2.head()

In [ ]:
# cluster_dist2.describe()

In [ ]:
# min1 = []
# max1 = []
# cluster_0 = []
# for j in range(50):
#     for i in range(2283081):
#         label = y_kmeans.iloc[i,0]
#         if label == j:
#             cluster_0.append(y_kmeans_dist.iloc[i,label])
#     min1.append(min(cluster_0))
#     max1.append(max(cluster_0))
#     cluster_0 = []

In [ ]:
# se_min = pd.Series(min1)
# se_max = pd.Series(max1)

In [ ]:
# cluster_min_max = pd.DataFrame()
# cluster_min_max['min'] = se_min.values
# cluster_min_max['max'] = se_max.values

In [ ]:
# cluster_min_max

# Elbow method

In [ ]:
# def Kmeans(k):
#     kmeans = MiniBatchKMeans(n_clusters=k,random_state=0,batch_size=150000)
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[0:150000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[150000:300000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[300000:450000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[450000:600000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[600000:750000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[750000:900000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[900000:1050000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1050000:1200000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1200000:1350000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1350000:1500000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1500000:1650000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1650000:1800000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1800000:1950000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[1950000:2100000,:])
#     kmeans = kmeans.partial_fit(data_dummies_X.iloc[2100000:2283080,:])

In [ ]:
# Sum_of_squared_distances = []
# K = range(1,15)
# for k in K:
#     Kmeans(k)
#     Sum_of_squared_distances.append(kmeans.inertia_)

In [ ]:
# plt.plot(K, Sum_of_squared_distances, 'bx-')
# plt.xlabel('k')
# plt.ylabel('Sum_of_squared_distances')
# plt.title('Elbow Method For Optimal k')
# plt.show()

In [ ]:
# Sum_of_squared_distances = []
# #10,20,30,40,50,60,70,80,90,100
# K = range(1,10)
# for k in K:
#     Kmeans(k)
#     Sum_of_squared_distances.append(kmeans.inertia_)

In [ ]:
# plt.plot(K, Sum_of_squared_distances, 'bx-')
# plt.xlabel('k')
# plt.ylabel('Sum_of_squared_distances')
# plt.title('Elbow Method For Optimal k')
# plt.show()

In [ ]:
# Sum_of_squared_distances
# kmeans.inertia_

# silhouette_score

In [ ]:
# from sklearn.metrics import silhouette_samples, silhouette_score

In [ ]:
# silhouette_avg = silhouette_score(data_dummies_X, y_kmeans,sample_size = 10000,random_state=123)

In [ ]:
# silhouette_avg

In [ ]:
# silhouette_sample = silhouette_samples(data_dummies_X, y_kmeans)

# testing with june data

In [ ]:
# df_test = pd.read_csv(path + 'PL_103_JUNE_2018.csv')

In [ ]:
# df_test.head()

In [ ]:
# pct_null_jun = df_test.isnull().sum()/len(df_test)
# null_features_jun = pct_null_jun[pct_null_jun > .80].index

In [ ]:
# df_test.drop(null_features_jun,axis = 1,inplace = True)

In [ ]:
# df_test.shape

In [ ]:
# df_test = df_test.fillna(0)

In [ ]:
# df_test.drop(ignore_col, axis=1, inplace=True)
# df_test.shape

In [ ]:
# df_test['FRS_BU']=df_test['FRS_BU'].astype('object')
# df_test['FRS_AFFL_CD']=df_test['FRS_AFFL_CD'].astype('object')
# df_test['FRS_BU_LGL_CD']=df_test['FRS_BU_LGL_CD'].astype('object')
# df_test['LN_RATE_RSET_PERD_INT_ID']=df_test['LN_RATE_RSET_PERD_INT_ID'].astype('object')
# df_test['ENTRPS_PROD_CD']=df_test['ENTRPS_PROD_CD'].astype('object')
# df_test['ACTG_UNIT_ID']=df_test['ACTG_UNIT_ID'].astype('object')

In [ ]:
# categorical_Attributes_test = df_test.select_dtypes(include=['object']).columns
# categorical_Attributes_test

In [ ]:
# all_col_test = list(df_test.columns)
# categorical_Attributes_test = list(categorical_Attributes_test)
# numerical_Attributes_test = list(set(all_col_test) - set(categorical_Attributes_test))

In [ ]:
# df_test[numerical_Attributes_test] = scaler.transform(df_test[numerical_Attributes_test])

In [ ]:
# data_dummies_test = pd.get_dummies(columns=categorical_Attributes_test, data=df_test, prefix=categorical_Attributes_test, prefix_sep="_",drop_first=False)

In [ ]:
# data_dummies_test.reindex(columns = data_dummies_X.columns, fill_value=0)

# Standardization data

In [ ]:
# from sklearn.preprocessing import Normalizer
# from sklearn.preprocessing import MinMaxScaler
# from sklearn.preprocessing import StandardScaler

In [ ]:
# scaler = MinMaxScaler()

In [ ]:
# scaler.fit(df_float_int)

In [ ]:
# df_scaled = scaler.transform(df_float_int)
# df_scaled = pd.DataFrame(df_scaled, columns = list(df_float_int.columns))

In [ ]:
# df_scaled

In [ ]:
# df_total = pd.concat([df_scaled,df_obj],axis = 1)

In [ ]:
# df_total.drop(['LOSS_MITG_STRT_DT', 'LN_ARRG_FIN_STA_DT','ARRG_BUS_INTENT_DT'],axis = 1,inplace = True)

# One hot encoding using Scikit-learn

In [ ]:
# from sklearn.preprocessing import OneHotEncoder

In [ ]:
# df_obj.drop(['LOSS_MITG_STRT_DT', 'LN_ARRG_FIN_STA_DT','ARRG_BUS_INTENT_DT'],axis = 1,inplace = True)

In [ ]:
# df_obj.head()

In [ ]:
# enc = OneHotEncoder()

In [ ]:
# enc.fit(df_obj)